src/*.o
seqsrc/*.o
*/*.in
*.in
src/Makefile
Makefile
*.tar.gz
utests/*.log
.ycm_extra*
aclocal.m4
config.log
config.status
configure
src/config.h
cscope.out
src/grouprecv
src/groupsend
src/groupsend_threaded
src/morph_to_net
src/sleeptest
src/splice_to_net
src/stamp-h1
src/vbs_schedulerm
src/vlbistreamer
utests/*.o
utests/*.trs
utests/active_file_index
utests/datatypes
utests/integration
utests/resourcetree
seqsrc/binarysearchmatch
seqsrc/check_bufalignment
seqsrc/insert_64_seq
seqsrc/scramble2_64_seq
seqsrc/scramble_64_seq
seqsrc/vbs_metadata
*/.deps
test-driver
vbs_fs/vbs_fs
vbs_fs/vbs_fs.o
